#bio-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bio-details{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    max-width: 30%;
    padding: 1em;
}

#headshot{
    width: 30%;
    padding: 1em;

}