#bio-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-right: 8em; */
}

#bio-details{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding: 1em;
}

#bio-details p{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bio-details h2{
    font-family: Uber, sans-serif;
    text-decoration: underline #86a63d;

}

#headshot{
    width: 30%;
    padding: 1em;

}
