

#photo-flex-container{
    display: flex;
    justify-content: center;
}


#photo-grid{
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr) ; 
    grid-template-rows: repeat(3, 1fr) ;
}


.grid-photo{
    width: 20em;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .3);
}