@font-face {
    font-family: 'Uber';
    src: local('Uber'), url(../src/assets/fonts/Az-Sans-Uber-W01-Regular.woff) format('woff');
  }


  @font-face {
    font-family:'Commune';
    src: local('Commune'), url(../src/assets/fonts/commune-webfont.woff) format('woff');
  }


 *{
  font-family: futura-pt, sans-serif;

 }