#nav-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}


#logo{
    width: 30%;
}

a{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


a:hover {
    color: #75a5da ;

  }
