#nav-wrapper{
    display: flex;
    position: absolute;
    

}
  
 


#nav-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    max-width: 25%;

}


#logo{
    width: 30%;
}

a{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: inherit;
    text-decoration: inherit;
}


a:hover {
    color: #75a5da ;

  }
