/* #nav-wrapper{
    display: flex;
    position: absolute;
    

} */

#nav-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding-left: 3em;
}


#logo{
    width: 70%;
}

a{
    
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: inherit;
    text-decoration: inherit;
}


a:hover {
    color: #be9781;

  }



  #yoga{
    font-family: commune, sans-serif;
    color: #75a5da;
  }